test.sh
test2.sh
C#_Fundamentals/HelloWorld/.vscode/launch.json
C#_Fundamentals/HelloWorld/.vscode/tasks.json
C#_Fundamentals/HelloWorld/bin/Debug/net5.0/HelloWorld.deps.json
C#_Fundamentals/HelloWorld/bin/Debug/net5.0/HelloWorld.dll
C#_Fundamentals/HelloWorld/bin/Debug/net5.0/HelloWorld.pdb
C#_Fundamentals/HelloWorld/bin/Debug/net5.0/HelloWorld.runtimeconfig.dev.json
C#_Fundamentals/HelloWorld/bin/Debug/net5.0/HelloWorld.runtimeconfig.json
C#_Fundamentals/HelloWorld/bin/Debug/net5.0/ref/HelloWorld.dll
C#_Fundamentals/HelloWorld/obj/HelloWorld.csproj.nuget.dgspec.json
C#_Fundamentals/HelloWorld/obj/HelloWorld.csproj.nuget.g.props
C#_Fundamentals/HelloWorld/obj/HelloWorld.csproj.nuget.g.targets
C#_Fundamentals/HelloWorld/obj/project.assets.json
C#_Fundamentals/HelloWorld/obj/project.nuget.cache
C#_Fundamentals/HelloWorld/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
C#_Fundamentals/HelloWorld/obj/Debug/net5.0/apphost.exe
C#_Fundamentals/HelloWorld/obj/Debug/net5.0/HelloWorld.AssemblyInfo.cs
C#_Fundamentals/HelloWorld/obj/Debug/net5.0/HelloWorld.AssemblyInfoInputs.cache
C#_Fundamentals/HelloWorld/obj/Debug/net5.0/HelloWorld.assets.cache
C#_Fundamentals/HelloWorld/obj/Debug/net5.0/HelloWorld.csproj.AssemblyReference.cache
C#_Fundamentals/HelloWorld/obj/Debug/net5.0/HelloWorld.csproj.CoreCompileInputs.cache
C#_Fundamentals/HelloWorld/obj/Debug/net5.0/HelloWorld.csproj.FileListAbsolute.txt
C#_Fundamentals/HelloWorld/obj/Debug/net5.0/HelloWorld.dll
C#_Fundamentals/HelloWorld/obj/Debug/net5.0/HelloWorld.GeneratedMSBuildEditorConfig.editorconfig
C#_Fundamentals/HelloWorld/obj/Debug/net5.0/HelloWorld.genruntimeconfig.cache
C#_Fundamentals/HelloWorld/obj/Debug/net5.0/HelloWorld.pdb
C#_Fundamentals/HelloWorld/obj/Debug/net5.0/ref/HelloWorld.dll
RestaurantReview/.gitignore
RestaurantReview/RestaurantReview.sln
RestaurantReview/RRBL/RestaurantBL.cs
RestaurantReview/RRBL/RRBL.csproj
RestaurantReview/RRDL/Repository.cs
RestaurantReview/RRDL/RRDL.csproj
RestaurantReview/RRDL/Database/Restaurant.json
RestaurantReview/RRModels/Restaurant.cs
RestaurantReview/RRModels/RRModels.csproj
RestaurantReview/RRUI/IMenu.cs
RestaurantReview/RRUI/MainMenu.cs
RestaurantReview/RRUI/Program.cs
RestaurantReview/RRUI/RestaurantMenu.cs
RestaurantReview/RRUI/RRUI.csproj
RestaurantReview/RRUI/ShowRestaurant.cs
RestaurantReview/RRBL/IRestaurantBL.cs
RestaurantReview/RRUI/AddRestaurant.cs
RestaurantReview/RRUI/CurrentRestaurant.cs
RestaurantReview/RRUI/IFactory.cs
RestaurantReview/RRUI/MenuFactory.cs
RestaurantReview/RRTest/RRTest.csproj
RestaurantReview/RRTest/UnitTest1.cs
StoreApp/.vs/StoreApp/v16/.suo
StoreApp/.vs/StoreApp/v16/.suo
.gitignore
StoreApp/.vs/StoreApp/v16/.suo
.gitignore
.vs
StoreApp/.vs/StoreApp/v16/.suo
